/* Shared styling */
:root {
    --blue_color: #75C6FF;
    --purple_color: #c0a8ff;
    --white_color: whitesmoke;
    --gray_color: gray;
}

html {
    font-size: 22px;
    font-family: Hack, monospace;
}

body {
    max-width: 960px;
    margin: auto;
    background-color: rgb(17, 17, 17);
    color: var(--white_color);
    font-family: Hack, monospace;
    padding-bottom: 50px;
}

.header {
    color: var(--blue_color); 
    margin:0;
}

.paragraph {
    font-size: 20px;
    margin: 0;
}

.check_it_out:link {
    font-size: 20px;
    color: var(--purple_color);
    background-color: transparent;
}

.social_media_icons {
    color: var(--white_color);
    font-size: 1.5rem;
    text-decoration: none;
}

.back_to_top {
    color: var(--gray_color);
    text-decoration: none;
}

/* Navigation bar styling */
.tab_white {
    color: var(--blue_color);
    font-weight: bold;
    text-decoration: none;
}

.tab_gray {
    color: var(--gray_color);
    text-decoration: none;
}

.tab_blue {
    color: var(--blue_color);
    font-weight: bold;
    text-decoration: none;
}

/* Project page styling */
.proj_container {
    display: flex;
    align-items: top;
    justify-content: center;
}

.proj_image {
    flex-basis: 40%;
}

.proj_desc {
    font-size: 20px;
    margin: 0;
}

.proj_text {
    font-size: 18px;
    padding-left: 20px;
  }

.project_status {
    color: var(--blue_color); 
    text-align: center;
    margin-bottom: 4px;
}

.project_jump {
    margin: 0; 
    font-size: 14px;
    color: var(--gray_color);
    text-decoration: none;
}

.project_status > span {
    position: relative;
    display: inline-block;
}

.project_status > span:before, .project_status > span:after {
    content: '';
    color: var(--white_color);
    position: absolute;
    top: 50%;
    border-bottom: 2px solid;
    width: 100px;
    margin: 0 20px;
}

.project_status > span:before {
    right: 100%;
}

.project_status > span:after {
    left: 100%;
}

/* Bookshelf page styling */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}

.grid-item {
    border: 2px solid var(--white_color);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.book_title {
    color: var(--blue_color); 
    font-size: 20px; 
    font-weight: bold; 
    margin: 0;
}

.book_author{
    font-size: 16px;    
    margin: 0;    
}

.book_img {
    width: 200px; 
    height: auto;
}

.star_style_blue {
    color: var(--blue_color);
    font-size: 1rem;
}

.star_style_white {
    color: var(--white_color);
    font-size: 1rem;
}

/* Timeline */
.timeline {
    margin: 0 auto;
    max-width: 960px;
    padding: 25px;
    display: grid;
    grid-template-columns: 0.4fr 3px 0fr 1fr;
    color: var(--white_color);
}

.timeline_component {
    margin: 0 20px 20px 20px;
}

.timeline_component_bg {
    padding: 1em;
    background: rgba(255, 255, 255, 0.2);
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */
    /* border-radius: 10px; */
}

/* LEAVE TILL LAST */
.timeline_component_bottom {
    margin-bottom: 0;
}

.timeline_middle {
    position: relative;
    background: var(--white_color);
}

.timeline_point {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background: var(--white_color);
    border-radius: 50%;
}

/* LEAVE TILL LAST */
.timeline_point_bottom {
    top: initial;
    bottom: 0;
}

.timeline_date_right {
    text-align: right;
}

.timeline_title {
    margin: 0;
    color: var(--blue_color);
    font-size: 1.15em;
    font-weight: bold;
}

.timeline_image {
    margin-left: 20px;
}

.image_thumbnail {
    width: 100px;
    height: 100px;
}

.timeline_paragraph {
    margin: 1;
}