html {
    font-size: 22px;
    font-family: Hack, monospace;
}

body {
    max-width: max-content;
    margin: auto;
    background-color: rgb(17, 17, 17);
    color: whitesmoke;
    font-family: Hack, monospace;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

.social_media_icons a {
    color: whitesmoke;
    font-size: 1.5rem;
    text-decoration: none;
}