/* Shared styling */
:root {
    --blue_color: #75C6FF;
    --purple_color: #c0a8ff;
    --white_color: whitesmoke;
    --gray_color: gray;
    --dark_gray_color: #111111;
}

html {
    font-size: 22px;
    font-family: Hack, monospace;
    background-color: var(--dark_gray_color);
}

body {
    max-width: 960px;
    margin: auto;
    background-color: var(--dark_gray_color);
    color: var(--white_color);
    font-family: Hack, monospace;
    padding-bottom: 50px;
    background-size: 100%;
}

.header {
    color: var(--blue_color);
    margin: 0;
}

.paragraph {
    font-size: 20px;
    margin: 0;
}

.check_it_out:link {
    font-size: 20px;
    color: var(--purple_color);
    background-color: transparent;
}

.check_it_out:visited {
    font-size: 20px;
    color: var(--purple_color);
    background-color: transparent;
}

.social_media_icons {
    color: var(--white_color);
    font-size: 1.5rem;
    text-decoration: none;
}

.back_to_top {
    color: var(--gray_color);
    text-decoration: none;
}

/* Navigation bar styling */
.tab_white {
    color: var(--blue_color);
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
}

.tab_gray {
    color: var(--gray_color);
    font-size: 26px;
    text-decoration: none;
}

.tab_blue {
    color: var(--blue_color);
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
}

/* Project page styling */
.proj_container {
    display: flex;
    align-items: top;
    justify-content: center;
}

.proj_image {
    flex-basis: 40%;
}

.proj_desc {
    font-size: 20px;
    margin: 0;
}

.proj_text {
    color: var(--gray_color);
    font-size: 18px;
    padding-left: 20px;
}

.project_status {
    color: var(--blue_color);
    text-align: center;
    margin-bottom: 4px;
}

.project_jump {
    margin: 0;
    font-size: 14px;
    color: var(--gray_color);
    text-decoration: none;
}

.project_status>span {
    position: relative;
    display: inline-block;
}

.project_status>span:before,
.project_status>span:after {
    content: '';
    color: var(--white_color);
    position: absolute;
    top: 50%;
    border-bottom: 2px solid;
    width: 100px;
    margin: 0 20px;
}

.project_status>span:before {
    right: 100%;
}

.project_status>span:after {
    left: 100%;
}

/* Bookshelf page styling */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.grid_item_S {
    border: 2px solid var(--white_color);
    padding-top: 20px;
    padding-left: 18px;
    padding-right: 18px;
    text-align: center;
    position: relative;
    height: 400px;
}

.grid_item_M {
    border: 2px solid var(--white_color);
    padding-top: 20px;
    padding-left: 18px;
    padding-right: 18px;
    text-align: center;
    position: relative;
    height: 400px;
}

.grid_item_L {
    border: 2px solid var(--white_color);
    padding-top: 20px;
    padding-left: 14px;
    padding-right: 18px;
    text-align: center;
    position: relative;
    height: 440px;
}

.book_title {
    color: var(--blue_color);
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.book_author {
    position: absolute;
    left: 0;
    right: 0;
    font-size: 16px;
    margin: 0;
}

.book_img_container {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}

.book_img {
    position: relative;
    width: 150px;
    height: auto;
    padding-bottom: 30px;
}

.star_style_container {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}

.star_style_blue {
    color: var(--blue_color);
    font-size: 0.8rem;
}

.star_style_white {
    color: var(--white_color);
    font-size: 0.8rem;
}

/* About page styling */
.about_container {
    display: flex;
    align-items: top;
    justify-content: center;
}

.about_image {
    flex-basis: 20%;
}

.about_text {
    font-size: 20px;
    padding-left: 20px;
    align-self: center;
}

/* About page timeline */
.timeline {
    margin: 0 auto;
    padding: 25px;
    display: grid;
    grid-template-columns: 0.4fr 3px 0fr 1.5fr;
    color: var(--white_color);
}

.timeline_component {
    margin: 0 20px 20px 20px;
}

.timeline_middle {
    position: relative;
    background: var(--white_color);
}

.timeline_point {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background: var(--white_color);
    border-radius: 50%;
}

.timeline_point_bottom {
    top: initial;
    bottom: 0;
}

.timeline_date_right {
    text-align: right;
    font-size: 18px;
}

.timeline_title {
    margin: 0;
    color: var(--blue_color);
    font-size: 24px;
    font-weight: bold;
}

.timeline_subtitle {
    margin: 0;
    padding-bottom: 4px;
    font-size: 20px;
    font-style: italic;
}

.timeline_image {
    margin-bottom: 40px;
    margin-left: 20px;
}

.image_thumbnail {
    width: 100px;
    height: 100px;
}

.timeline_bullet {
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 1.1em;
    color: var(--gray_color);
}

#affiliations_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 920px;
    margin: 0 auto;
}

.flex_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

/* Index page styling */
/* Slideshow modified from https://github.com/Aladinbensassi/CSS3-Slider*/
#slider {
    width: 800px;
    height: 600px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

@keyframes load {
    from {
        left: -100%;
    }

    to {
        left: 0;
    }
}

.slides {
    width: 500%;
    /* 100%*num_slides */
    height: 100%;
    position: relative;
    -webkit-animation: slide 20s infinite;
    animation: slide 20s infinite;
}

.slider {
    width: 20%;
    /* 100%/num_slides */
    height: 100%;
    float: left;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.slide img {
    width: 100%;
    height: 100%;
}

.image {
    width: 100%;
    height: 100%;
}

.image img {
    width: 100%;
    height: 100%;
}

.switch {
    width: 120px;
    height: 10px;
    position: absolute;
    bottom: 50px;
    z-index: 99;
    left: -10px;
}

.switch>ul {
    list-style: none;
}

.switch>ul>li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--white_color);
    border: solid var(--dark_gray_color) 2px;
    float: left;
    margin-right: 5px;
}

.switch ul {
    overflow: hidden;
    min-width: 100px;
}

.on {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--blue_color);
    position: relative;
    -webkit-animation: on 20s infinite;
    animation: on 20s infinite;
}

@keyframes slide {

    0%,
    100% {
        margin-left: 0%;
        /* slide 1 */
    }

    14.05% {
        margin-left: 0%;
    }

    20.55% {
        margin-left: -100%;
        /* slide 2 */
    }

    34.55% {
        margin-left: -100%;
    }

    41.05% {
        margin-left: -200%;
        /* slide 3 */
    }

    55.05% {
        margin-left: -200%;
    }

    61.55% {
        margin-left: -300%;
        /* slide 4 */
    }

    75.55% {
        margin-left: -300%;
    }

    82.05% {
        margin-left: -400%;
        /* slide 5 */
    }

    96.05% {
        margin-left: -400%;
    }
}

@keyframes on {

    0%,
    100% {
        margin-left: 0%;
        /* circle 1 */
    }

    14.05% {
        margin-left: 0%;
    }

    20.55% {
        margin-left: 19px;
        /* circle 2 */
    }

    34.55% {
        margin-left: 19px;
    }

    41.05% {
        margin-left: 38px;
        /* circle 3 */
    }

    55.05% {
        margin-left: 38px;
    }

    61.55% {
        margin-left: 57px;
        /* circle 4 */
    }

    75.55% {
        margin-left: 57px;
    }

    82.05% {
        margin-left: 76px;
        /* circle 5 */
    }

    96.05% {
        margin-left: 76px;
    }
}